@use "@styles/mixins" as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 3rem;

  @media (width <= 1300px) {
    display: flex;
    flex-direction: column;
  }
}

.watermarkWrapper {
  display: flex;
  gap: 0.5rem;

  @include media("xs") {
    flex-direction: column;
  }
}
