@use "@styles/mixins" as *;

.cardHeader {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 3rem;

  @media (max-width: 1300px) {
    flex-direction: column;
  }
}
