.filterItem {
  flex: 1 1 20%;

  @media (width <= 768px) {
    flex: 1 1 33%;
  }

  @media (width >= 1200px) {
    max-width: 300px;
    flex: 1 1 50%;
  }
}

.filterButton {
  display: flex;
  color: var(--color-light);
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--scale-xs);

  &--active {
    & div {
      opacity: 0.3;
    }
  }

  &:hover div {
    opacity: 0.4;
  }

  &:hover img {
    transform: scale(1.2);
  }
}
